@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h2,
  h3 {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  p,
  #skills h4,
  #timeline h4 {
    font-family: "Almarai", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  li,
  li a {
    font-size: 1rem; /* 16px */
  }

  h4 {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
