---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout title="Frontpage">
  <div id="cursor"></div>
  <div class="background-lines">
    <div class="line1"></div>
    <div class="line2"></div>
  </div>
  <div class="top-content text-font-color max-w-7xl mx-auto pb-96 pt-80 md:pb-96 md:pt-80">
    <h1 id="h1" class="title text-5xl md:text-8xl text-center md:text-left pb-12">SARA RINGKOW PETERSEN</h1>
    <h2 id="h2" class="subtitle text-3xl md:text-5xl text-center md:text-left tracking-wide">UX/web designer</h2>
  </div>
  <div class="main-content1 max-w-7xl mx-8 md:max-w-6xl md:mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 pb-30 md:pb-60">
    <div id="info" class="left-content text-font-color">
      <h3 class="text-3xl md:text-4xl pb-4">WHO AM I?</h3>
      <p class="starting-text text-lg md:text-xl leading-6 md:leading-9">
        My name is Sara Ringkow Petersen, a 22-year-old based in <span class="text-hover-header font-bold">Copenhagen</span>. I’m currently seeking an <span
          class="text-hover-header font-bold">internship</span
        > as a UX or web designer, where I can apply my skills and contribute to projects that prioritize inclusive and user-centered digital experiences.
        <br /><br />I’m dedicated to creating <span class="text-hover-header font-bold">accessible, user-friendly digital solutions</span> by blending
        my technical skills in HTML, CSS, JavaScript, and frameworks like Astro and Tailwind with a creative approach. I’m experienced in design tools
        like Figma and Canva, and project management methods such as SCRUM and Trello. My <span class="text-hover-header font-bold">personal</span> experience,
        having been diagnosed with autism at a later age, drives my commitment to inclusive design–– making digital platforms better for everyone, especially
        those with special needs.
      </p>
    </div>
    <div id="pfp" class="right-content flex justify-center md:justify-center pt-10 md:pt-20 pb-32">
      <img src="/other/pfp.webp" alt="me" class="w-[200px] h-[200px] md:w-[400px] md:h-[400px] object-cover rounded-full shadow-md" />
    </div>
  </div>
  <div class="background-bubbles">
    <div class="bubbles1"></div>
  </div>
  <div id="timeline" class="timeline max-w-3xl mx-auto flex justify-center md:justify-center md:max-w-6xl pb-20 md:pb-60">
    <div class="left-content text-font-color">
      <h3 class="text-3xl md:text-4xl text-left ml-4 pb-10 md:ml-0 md:pb-8">TIMELINE</h3>

      <ol class="relative border-s border-gray-200 dark:border-gray-400">
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-200"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">August 2008 - June 2015</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">0-6th grade at Hedegårdsskolen*</h4>
          <p class="text-gray-500 dark:text-gray-400">*Switched school in near the end of 6th grade</p>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-200"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">June 2015 - June 2018</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">6-9th grade at Ballerup Ny Skole</h4>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-200"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">August 2018 - June 2019</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">10th grade at Egeskolen</h4>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-200"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">August 2019 - June 2021</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">HF at Egedal Gymnasium & HF</h4>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-300"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">January 2022 - June 2022 (gap-year)</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">
            Folk high school stay at Bosei Sports <br class="md:hidden block" /> Folk High School
          </h4>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-200"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">August 2022 - May 2023</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">
            Singular courses in History (dropped)* & Japanese (lvl. 0-B) <br class="md:hidden block" /> at Frederiksberg VUC & STX
          </h4>
          <p class="text-gray-500 dark:text-gray-400">*Had to drop it due to work & just continue with one course</p>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-gray-200 dark:border-gray-200 dark:bg-gray-200"></div>
          <time class="mb-1 text-xl font-bold leading-none text-gray-200 md:text-2xl">August 2023 - present</time>
          <h4 class="timeline-title text-xl font-regular text-gray-900 dark:text-white md:text-xl">
            Multimedia-design student at <br class="md:hidden block" /> KEA - Københavns Erhvervsakademi (3rd semester)
          </h4>
        </li>
      </ol>
    </div>
  </div>
  <div class="background-bubbles">
    <div class="bubbles1"></div>
  </div>
  <div id="skills" class="skills max-w-7xl mx-auto flex flex-col md:flex-row justify-center items-center md:items-center mb-8">
    <div class="text-center md:text-left mb-8 md:mb-0 md:mr-8 pr-0 md:pr-12 pb-12">
      <h3 class="text-3xl md:text-4xl pb-4 text-font-color">SKILLS</h3>
      <h4 class="text-xl text-font-color">
        Hover over the different app-icons to <br />learn more about my competencies <br />
        <span class="font-bold">(Does not work on mobile)</span>
      </h4>
    </div>
    <div class="icon-container">
      <div class="left-content text-font-color"></div>
      <!-- some_icons1 -->
      <div class="app_icons1 flex flex-wrap justify-center gap-6 mb-8 md:gap-20">
        <div class="icon-wrapper top-tooltip">
          <img
            id="figma"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70 cursor"
            src="/other/46a76c802176eb17b04e12108de7e7e0f3736dc6-1024x1024.webp"
            alt="figma"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Figma:</p>
            <ol>
              <li>1. Styles</li>
              <li>2. Components</li>
              <li>3. Auto-layout</li>
              <li>4. Design-systems</li>
              <li>5. Wireframes</li>
              <li>6. Prototypes</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper top-tooltip">
          <img
            id="vscode"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/images.png"
            alt="vs code"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">VS Code:</p>
            <ol>
              <li>1. HTML</li>
              <li>2. CSS</li>
              <li>3. JavaScript</li>
              <li>4. Astro</li>
              <li>5. Tailwind</li>
              <li>6. Git & Github</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper top-tooltip">
          <img
            id="microsoft"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/Microsoft_365_(2022).svg.png"
            alt="microsoft 365"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Microsoft Office 365:</p>
            <ol>
              <li>1. Word</li>
              <li>2. Powerpoint</li>
              <li>3. Teams</li>
              <li>4. Outlook</li>
              <li>5. OneDrive</li>
            </ol>
          </div>
        </div>
      </div>

      <!-- some_icons2 -->
      <div class="app_icons2 flex flex-wrap justify-center gap-6 mb-8 md:gap-20">
        <div class="icon-wrapper">
          <img
            id="creativecloud"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/Adobe_Creative_Cloud_rainbow_icon.svg.png"
            alt="creative cloud"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Creative Cloud:</p>
            <ol>
              <li>1. Adobe Photoshop</li>
              <li>2. Adobe Lightroom</li>
              <li>3. Adobe Premiere Pro</li>
              <li>4. Adobe Firefly</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper">
          <img
            id="google"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/Google_Drive_Logo_512px.png"
            alt="google drive"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Google Drive:</p>
            <ol>
              <li>1. Docs</li>
              <li>2. Slides</li>
              <li>3. Forms</li>
              <li>4. Sharing and collabs</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="projects" class="projects_container pt-20 md:pt-60 pb-20">
    <div class="projects">
      <div class="flex justify-center">
        <div class="container mx-auto px-4 py-4">
          <h3 class="text-3xl md:text-4xl font-bold text-left mb-8 text-font-color">HIGHLIGHTED PROJECTS</h3>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Large item -->
            <div class="md:col-span-2 md:row-span-2 relative overflow-hidden rounded-2xl shadow-lg group">
              <a href="https://sararingkow.dk/kea/02_web/01_website/website/index.html" target="_blank" class="block w-full h-full">
                <img src="/other/entrance_exam.png" alt="Nature" class="w-full h-full object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-white">Entrance-exam</h4>
                    <p class="text-white">First assignment: 1st semester</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="relative overflow-hidden rounded-2xl shadow-lg group">
              <a href="http://sararingkow.dk/kea/03_ux/01_kodet_site/index.html" target="_blank" class="block w-full h-full">
                <img src="/other/ux_site.png" alt="Technology" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-white">UX/UI-site</h4>
                    <p class="text-white">Second assignment: 1st semester</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Two small items -->
            <div class="relative overflow-hidden rounded-2xl shadow-lg group">
              <a href="https://makomiteen.netlify.app/" target="_blank">
                <img src="/other/mak.png" alt="Food" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-white">The MAK committee</h4>
                    <p class="text-white">First case-assignment: 1st semester</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="relative overflow-hidden rounded-2xl shadow-lg group">
              <a href="https://sararingkow.dk/kea/06_eksamen/portfolio_eksamen/index.html" target="_blank" class="block w-full h-full">
                <img src="/other/1st_portfolio.png" alt="Technology" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-white">First portfolio-site</h4>
                    <p class="text-white">Exam-assignment: 1st semester</p>
                  </div>
                </div>
              </a>
            </div>

            <!-- Three medium items -->

            <div class="relative overflow-hidden rounded-2xl shadow-lg group">
              <a href="https://vild-mad.netlify.app/" target="_blank">
                <img src="/other/vildmad.png" alt="Food" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-white">Vild Mad</h4>
                    <p class="text-white">Case-assignment: 2nd semester</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="flex justify-center">
          <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
              <!-- Three medium items -->
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <a href="https://t8-karrusel.netlify.app/" target="_blank" class="block w-full h-full">
                  <img src="/other/karrusel.png" alt="Nature" class="w-full h-full object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-white">Karrusel Festival</h4>
                      <p class="text-white">Case assignment: 2nd semester</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <a href="https://itmv-t9.netlify.app/" target="_blank">
                  <img src="/other/itmv.png" alt="Art" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-white">I Tråd Med Verden</h4>
                      <p class="text-white">Case-assignment: 2nd semester</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <a href="https://volander-art.netlify.app/" target="_blank">
                  <img src="/other/2nd_semester_exam.png" alt="Travel" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-white">Volander Art</h4>
                      <p class="text-white">Exam-assignment: 2nd semester</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <a href="https://digitalskraldedag-dk.netlify.app/" target="_blank">
                  <img src="/other/digital_cleanup_day.png" alt="Art" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-none">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-white">Digital Cleanup Day</h4>
                      <p class="text-white">
                        Case-assignment: 3rd semester <br />
                        <span class="text-sm italic">(Has to be viewed in Chrome)</span>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="some flex flex-col items-center justify-center text-font-color pt-16 md:pt-60" id="contact-header">
    <h3 class="text-4xl md:text-5xl text-left md:text-center text-font-color md:pb-8 pb-8 max-w-7xl mx-auto z-[1]">CONTACT-INFORMATION</h3>
    <hr class="w-1/2 md:w-1/3 border-[0.5px] border-font-color opacity-50" />
  </div>
  <div id="contact" class="flex flex-col items-center pt-28 md:pt-40">
    <h3 class="text-2xl md:text-4xl font-bold text-center pb-4 md:pb-8 text-font-color z-[1]">FIND ME ON SOCIAL MEDIA</h3>
    <div class="flex justify-center space-x-5">
      <a
        class="group relative w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] transition-transform duration-300 transform hover:scale-105 cursor-none"
        href="https://www.facebook.com/profile.php?id=61558070190613"
        target="_blank"
      >
        <img
          src="/illustrations/facebook2.svg"
          alt="facebook"
          class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
        />
        <img
          src="/illustrations/facebook2_red.svg"
          alt="facebook"
          class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
        />
      </a>
      <a
        class="group relative w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] transition-transform duration-300 transform hover:scale-105 cursor-none"
        href="https://www.instagram.com/srp_portfolio/"
        target="_blank"
      >
        <img
          src="/illustrations/instagram2.svg"
          alt="instagram"
          class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
        />
        <img
          src="/illustrations/instagram2_red.svg"
          alt="instagram"
          class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
        />
      </a>
      <a
        class="group relative w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] transition-transform duration-300 transform hover:scale-105 cursor-none"
        href="https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/"
        target="_blank"
      >
        <img
          src="/illustrations/linkedin2.svg"
          alt="linkedin"
          class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
        />
        <img
          src="/illustrations/linkedin2_red.svg"
          alt="linkedin"
          class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
        />
      </a>
      <a
        class="group relative w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] transition-transform duration-300 transform hover:scale-105 cursor-none"
        href="https://dk.pinterest.com/sararingkow/"
        target="_blank"
      >
        <img
          src="/illustrations/pinterest2.svg"
          alt="pinterest"
          class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
        />
        <img
          src="/illustrations/pinterest2_red.svg"
          alt="pinterest"
          class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
        />
      </a>
    </div>
  </div>
  <div id="phone_mail" class="forms_container flex justify-center pt-20 md:pt-28">
    <section class="max-w-5xl mx-auto p-6">
      <div class="flex flex-col items-center md:flex-row md:items-center md:justify-center">
        <img class="w-[150px] h-[150px] md:w-[250px] md:h-[250px] object-cover rounded-full shadow-xl mb-8 md:mb-0" src="/other/pfp3.webp" alt="" />
        <div class="md:ml-4 text-center md:text-left pl-0 md:pl-20">
          <h3 class="text-gray-200 font-bold text-2xl md:text-4xl pb-4">LET'S TALK!</h3>
          <p class="some1 text-font-color_dark text-md md:text-lg">
            <b>Phone: </b><a href="tel:+4542428807" class="hover:text-hover-header transition duration-500 cursor-none">+45 42 42 88 07</a>
          </p>
          <p class="some1 text-font-color_dark text-md md:text-lg">
            <b>Mail: </b><a href="mailto:sara.ringkow@gmail.com" class="hover:text-hover-header transition duration-300 cursor-none"
              >sara.ringkow@gmail.com</a
            >
            <span class="text-main">/</span>
            <a href="mailto:sape0003@stud.kea.dk" class="hover:text-hover-header transition duration-500 cursor-none">sape0003@stud.kea.dk</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <div id="cv" class="cv flex flex-col items-center pb-12 md:pb-16 pt-28 md:pt-40">
    <hr class="w-1/2 md:w-1/3 border-[0.5px] border-font-color opacity-50" />
    <h3 class="text-2xl md:text-4xl text-center pt-8 md:pt-12 md:pb-8 pb-4 text-font-color">WANNA KNOW MORE ABOUT ME?</h3>
    <Button class="text-center transition duration-300 transform hover:scale-105">CHECK OUT MY PERSONAL CV HERE</Button>
  </div>

  <script>
    import { inView, animate } from "motion";

    // inView animations
    const elementmedanimation1 = document.querySelector("#h1");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation2 = document.querySelector("#h2");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
    });

    const elementmedanimation3 = document.querySelector("#info");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation4 = document.querySelector("#pfp");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation5 = document.querySelector("#timeline");
    inView(elementmedanimation5, () => {
      elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
    });

    const elementmedanimation6 = document.querySelector("#contact");
    inView(elementmedanimation6, () => {
      elementmedanimation6.classList.add("animate__animated", "animate__backInRight");
    });

    // New animations for missing elements
    const elementmedanimation7 = document.querySelector(".skills");
    inView(elementmedanimation7, () => {
      elementmedanimation7.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation8 = document.querySelector(".projects_container");
    inView(elementmedanimation8, () => {
      elementmedanimation8.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation10 = document.querySelector(".cv");
    inView(elementmedanimation10, () => {
      elementmedanimation10.classList.add("animate__animated", "animate__zoomIn");
    });

    const elementmedanimation11 = document.querySelector("#phone_mail");
    inView(elementmedanimation11, () => {
      elementmedanimation11.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation12 = document.querySelector("#contact-header");
    inView(elementmedanimation12, () => {
      elementmedanimation12.classList.add("animate__animated", "animate__zoomIn");
    });

    // Custom cursor
    (function () {
      var mousePos;
      var moved = false;

      document.onmousemove = handleMouseMove;
      setInterval(getMousePosition, 100);

      function handleMouseMove(event) {
        var eventDoc, doc, body;

        moved = true;

        event = event || window.event;
        if (event.pageX == null && event.clientX != null) {
          eventDoc = (event.target && event.target.ownerDocument) || document;
          doc = eventDoc.documentElement;
          body = eventDoc.body;

          event.pageX =
            event.clientX + ((doc && doc.scrollLeft) || (body && body.scrollLeft) || 0) - ((doc && doc.clientLeft) || (body && body.clientLeft) || 0);
          event.pageY =
            event.clientY + ((doc && doc.scrollTop) || (body && body.scrollTop) || 0) - ((doc && doc.clientTop) || (body && body.clientTop) || 0);
        }

        mousePos = {
          x: event.pageX,
          y: event.pageY,
        };
      }

      function getMousePosition() {
        var pos = mousePos;

        if (!pos) {
          // We haven't seen any movement yet
        } else if (moved === true) {
          // Use pos.x and pos.y
          console.log("Pos:", pos.x, pos.y);
          moved = false;
          var cursor = document.querySelector("#cursor");
          cursor.style.left = pos.x + "px";
          cursor.style.top = pos.y + "px";
        }
      }
    })();
  </script>

  <style>
    .hidden {
      opacity: 0;
    }
  </style>
</MainLayout>
