---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="Frontpage"
  description="A personal professional profile of Sara Ringkow Petersen"
  ogtitle="Frontpage - SRP Profile"
  ogdescription="An alternate portfolio for Sara Ringkow Petersen"
>
  <div class="background-lines">
    <div class="line1"></div>
    <div class="line2"></div>
  </div>
  <div class="top-content text-font-color mx-8 max-w-7xl md:mx-auto pb-[10rem] pt-[10rem]">
    <h1 id="h1" class="title text-5xl md:text-8xl md:text-left text-center pb-12 uppercase">Sara Ringkow Petersen</h1>
    <h2 id="h2" class="subtitle font-normal text-3xl md:text-5xl md:text-left text-center tracking-wide">UX/web designer</h2>
  </div>

  <div class="main-content1 max-w-7xl mx-8 md:mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 pb-20 md:pb-32">
    <div id="info" class="left-content text-font-color">
      <h3 class="text-3xl md:text-4xl pb-4 md:text-left text-left uppercase">Who am I?</h3>
      <p class="starting-text leading-8 md:leading-9 md:md:text-left text-left">
        My name is Sara Ringkow Petersen, a 23-year-old based in <span class="text-hover-header font-bold">Copenhagen</span>. I’m currently seeking an <span
          class="text-hover-header font-bold">internship</span
        > as a UX or web designer, where I can apply my skills and contribute to projects that prioritize inclusive and user-centered digital experiences.
        <br /><br />I’m dedicated to creating <span class="text-hover-header font-bold">accessible, user-friendly digital solutions</span> by blending
        my technical skills in HTML, CSS, JavaScript, and frameworks like Astro and Tailwind with a creative approach. I’m experienced in design tools
        like Figma and Canva, and project management methods such as SCRUM and Trello. My <span class="text-hover-header font-bold">personal</span> experience,
        having been diagnosed with autism at a later age, drives my commitment to inclusive design&mdash; making digital platforms better for everyone,
        especially those with special needs.
      </p>
    </div>
    <div id="pfp" class="right-content flex justify-center md:justify-center pt-10 md:pt-20 pb-32">
      <img
        src="/other/pfp3.webp"
        alt="A portrait of Sara"
        class="w-[200px] h-[200px] md:w-[400px] md:h-[400px] object-cover rounded-full shadow-md brightness-[108%] contrast-[85%]"
      />
    </div>
  </div>
  <div id="languages" class="max-w-7xl mx-8 md:mx-auto md:pb-40 pb-32 pt-8 text-left relative">
    <h3 class="text-3xl md:text-4xl text-font-color pb-10 uppercase">Languages</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 text-white">
      <!-- Language 1 -->
      <div
        class="language-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Japanese</h4>
        <p class="mt-4 text-lg z-[20] relative">
          <span class="font-bold">Beginner:</span><br />Can read, write, speak and understand, to a certain extent <em class="text-zinc-400">(A1)</em>
        </p>
      </div>
      <!-- Language 2 -->
      <div
        class="language-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">English</h4>
        <p class="mt-4 text-lg z-[20] relative">
          <span class="font-bold">Intermediate:</span><br /> Can read, write, speak and understand relatively well
          <em class="text-zinc-400"> (B2)</em>
        </p>
      </div>
      <!-- Language 3 -->
      <div
        class="language-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Danish</h4>
        <p class="mt-4 text-lg z-[20] relative">
          <span class="font-bold">Native language:</span><br /> Fluent in speaking, reading, and writing <em class="text-zinc-400">(C2)</em>
        </p>
      </div>
    </div>
  </div>

  <div id="hobbies" class="max-w-7xl mx-8 md:mx-auto md:pb-40 pb-32 pt-8 text-left relative">
    <h3 class="text-3xl md:text-4xl text-font-color pb-10 uppercase">Hobbies & interests</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 text-font-color">
      <!-- Hobby 1 -->
      <div
        class="hobby-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Gaming</h4>
        <p class="mt-4 text-lg z-[20] relative">
          I love exploring new games and learning about different genres. It helps me focus on something else other than work.
        </p>
        <p class="mt-4 text-sm z-[20] relative italic">(Examples: Super Mario series, Sims, various indie and open-world RPG games etc.)</p>
      </div>
      <!-- Hobby 2 -->
      <div
        class="hobby-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Reading</h4>
        <p class="mt-4 text-lg z-[20] relative">I enjoy reading crime- and fantasy novels. It's a great way for me to escape the daily struggles.</p>
        <p class="mt-4 text-sm z-[20] relative italic">
          (Examples: ACOTAR, Fourth Wing, A good girls guide to murder, various dark fantasy/romance novels, etc.)
        </p>
      </div>
      <!-- Hobby 3 -->
      <div
        class="hobby-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Being creative</h4>
        <p class="mt-4 text-lg z-[20] relative">I like creating keychains, making bead-plates, and many other things to keep myself busy.</p>
        <p class="mt-4 text-sm z-[20] relative italic">(Examples: keychains, bead-plates, drawing, painting, writing, etc.)</p>
      </div>
      <!-- Hobby 4 -->
      <div
        class="hobby-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Learning</h4>
        <p class="mt-4 text-lg z-[20] relative">I'm always learning new things and expanding my knowledge.</p>
        <p class="mt-4 text-sm z-[20] relative italic">(Examples: Software- and web-development, creative stuff, etc.)</p>
      </div>
      <!-- Hobby 5 -->
      <div
        class="hobby-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Working out</h4>
        <p class="mt-4 text-lg z-[20] relative">I enjoy working out and staying fit.</p>
        <p class="mt-4 text-sm z-[20] relative italic">(Examples: HIIT, strengh training, etc)</p>
      </div>
      <!-- Hobby 6 -->
      <div
        class="hobby-card relative z-[10] rounded-lg p-8 shadow-lg transition-transform transform hover:scale-105 hover:bg-[#d32f2f] duration-300 ease-in-out"
      >
        <div class="absolute inset-0 bg-gradient-to-r from-zinc-700 via-zinc-600 to-zinc-500 opacity-70 rounded-lg"></div>
        <h4 class="text-2xl md:text-3xl font-bold z-[20] relative">Photography</h4>
        <p class="mt-4 text-lg z-[20] relative">I love taking photos and capturing moments of various things around me.</p>
        <p class="mt-4 text-sm z-[20] relative italic">(Examples: Nature, people, places, etc.)</p>
      </div>
    </div>
  </div>

  <div class="background-bubbles">
    <div class="bubbles1"></div>
  </div>
  <div id="timeline" class="timeline max-w-7xl mx-8 md:mx-auto flex justify-center pt-4 md:pt-48 pb-20 md:pb-60">
    <div class="left-content text-font-color">
      <h3 class="text-3xl md:text-4xl ml-4 pb-10 md:ml-0 md:pb-8">TIMELINE</h3>

      <ol class="relative border-s border-font-color dark:border-gray-400">
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">2017 - 2018</time>
          <h4 class="timeline-title text-md font-regular text-font-color dark:text-white md:text-xl">
            Advertisement distributor at FK Distribution A/S
          </h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">August 2018 - June 2019</time>
          <h4 class="timeline-title text-md font-regular text-font-color dark:text-white md:text-xl">10th grade at Egeskolen</h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">February 2018 - May 2019</time>
          <h4 class="timeline-title text-md font-regular text-font-color dark:text-white md:text-xl">Shop-assistant u. 18 in Netto, Vanløse</h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">August 2019 - June 2021</time>
          <h4 class="timeline-title text-md font-regular text-font-color dark:text-white md:text-xl">HF at Egedal Gymnasium & HF</h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">June 2021 - December 2022*</time>
          <h4 class="timeline-title text-md font-regular text-font-color md:text-xl">Assistant in webshop in Lloyd Concept Store CPH</h4>
          <p class="text-[#acacac] md:text-lg text-sm">
            * Went on a 6-month leave during my time there, <br class="md:hidden block" /> due to my stay at Bosei (folk high school)
          </p>
        </li>
        <li class="mb-16 ms-4">
          <div class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-gray-300">
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">January 2022 - June 2022 (gap-year)</time>
          <h4 class="timeline-title text-md font-regular text-font-color md:text-xl">
            Folk high school stay at Bosei Sports <br class="md:hidden block" /> Folk High School
          </h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">August 2022 - May 2023</time>
          <h4 class="timeline-title text-md font-regular text-font-color md:text-xl">
            Singular courses in History (dropped)* <br class="md:hidden block" /> & Japanese (lvl. 0-B) at Frederiksberg VUC & STX
          </h4>
          <p class="text-[#acacac] md:text-lg text-sm">*Had to drop it due to work & just continue with one course</p>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-font-color rounded-full mt-1.5 -start-1.5 border border-font-color dark:border-font-color dark:bg-font-color"
          >
          </div>
          <time class="mb-1 text-xl font-bold leading-none text-font-color md:text-2xl">August 2023 - present</time>
          <h4 class="timeline-title text-md font-regular text-font-color dark:text-white md:text-xl">
            Multimedia-design student at <br class="md:hidden block" /> KEA - Københavns Erhvervsakademi (4th and final semester)
          </h4>
        </li>
      </ol>
    </div>
  </div>

  <div class="background-bubbles">
    <div class="bubbles1"></div>
  </div>
  <div id="skills" class="max-w-7xl mx-auto flex flex-col md:flex-row justify-center items-center mb-8">
    <div class="text-left md:md:text-left mb-8 md:mb-0 md:mr-8 pr-0 md:pr-12 pb-12">
      <h3 class="text-3xl md:text-4xl pb-4 text-font-color">SKILLS</h3>
      <h4 class="text-xl text-font-color">
        Hover over the different app-icons to <br />learn more about my competencies <br />
        <span class="font-bold">(Does not work on mobile)</span>
      </h4>
    </div>
    <div class="icon-container">
      <div class="left-content text-font-color"></div>
      <!-- some_icons1 -->
      <div class="app_icons1 flex flex-wrap justify-center gap-6 mb-8 md:gap-20">
        <div class="icon-wrapper top-tooltip">
          <img
            id="figma"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70 cursor"
            src="/other/46a76c802176eb17b04e12108de7e7e0f3736dc6-1024x1024.webp"
            alt="figma"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Figma:</p>
            <ol>
              <li>1. Styles</li>
              <li>2. Variables</li>
              <li>3. Components</li>
              <li>4. Auto-layout</li>
              <li>5. Design-systems</li>
              <li>6. Wireframes</li>
              <li>7. Prototypes</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper top-tooltip">
          <img
            id="vscode"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/images.png"
            alt="vs code"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">VS Code:</p>
            <ol>
              <li>1. HTML</li>
              <li>2. CSS</li>
              <li>3. JavaScript</li>
              <li>4. Astro</li>
              <li>5. Tailwind</li>
              <li>6. Git & Github</li>
              <li>7. Database (JSON)</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper top-tooltip">
          <img
            id="microsoft"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/Microsoft_365_(2022).svg.png"
            alt="microsoft 365"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Microsoft Office 365:</p>
            <ol>
              <li>1. Word</li>
              <li>2. Powerpoint</li>
              <li>3. Teams</li>
              <li>4. Outlook</li>
              <li>5. OneDrive</li>
            </ol>
          </div>
        </div>
      </div>

      <!-- some_icons2 -->
      <div class="app_icons2 flex flex-wrap justify-center gap-6 mb-8 md:gap-20">
        <div class="icon-wrapper">
          <img
            id="creativecloud"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/Adobe_Creative_Cloud_rainbow_icon.svg.png"
            alt="creative cloud"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Creative Cloud:</p>
            <ol>
              <li>1. Adobe Photoshop</li>
              <li>2. Adobe Lightroom</li>
              <li>3. Adobe Premiere Pro</li>
              <li>4. Adobe Firefly</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper">
          <img
            id="google"
            class="max-w-full rounded-lg w-[70px] h-[70px] sm:w-[90px] sm:h-[90px] hover:transition duration-300 hover:opacity-70"
            src="/other/Google_Drive_Logo_512px.png"
            alt="google drive"
          />
          <div class="tooltip hidden md:block absolute rounded p-2 mt-1">
            <p class="font-bold">Google Drive:</p>
            <ol>
              <li>1. Docs</li>
              <li>2. Slides</li>
              <li>3. Forms</li>
              <li>4. Sharing and collabs</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="projects" class="projects_container pt-20 md:pt-60 pb-20">
    <div class="projects-container">
      <div class="flex justify-center">
        <div class="container mx-auto px-4 py-4">
          <h3 class="text-3xl md:text-4xl font-bold md:text-left text-left pb-[10px] text-font-color">HIGHLIGHTED PROJECTS</h3>
          <h4 class="text-lg text-font-color mb-8 md:text-left text-left">
            Hover over the different images and click <br class="md:hidden block" /> them to see more
          </h4>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <!-- Large item -->
            <div
              class="md:col-span-2 md:row-span-2 relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]"
            >
              <a
                href="https://sararingkow.dk/kea/02_web/01_website/website/index.html"
                target="_blank"
                class="block w-full h-full"
                aria-label="View project: Entrance-exam"
              >
                <img src="/other/entrance_exam.png" alt="Screenshot of the assignment: Entrance-exam" class="w-full h-full object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-font-color">Entrance-exam</h4>
                    <p class="text-font-color">First project: 1st semester</p>
                    <div class="flex flex-row flex-wrap">
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-sm">HTML</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-sm">CSS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
              <a
                href="http://sararingkow.dk/kea/03_ux/01_kodet_site/index.html"
                target="_blank"
                class="block w-full h-full"
                aria-label="View project: UX/UI-site"
              >
                <img src="/other/ux_site.png" alt="Screenshot of the assignment: UX/UI-site" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-font-color">UX/UI-site</h4>
                    <p class="text-font-color">Second project: 1st semester</p>
                    <div class="flex flex-row flex-wrap">
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">HTML</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">CSS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- Two small items -->
            <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
              <a href="https://makomiteen.netlify.app/" target="_blank" aria-label="View project: The MAK committee">
                <img src="/other/mak.png" alt="Screenshot of the assignment: The MAK committee" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-font-color">The MAK committee</h4>
                    <p class="text-font-color">First case-project: 1st semester</p>
                    <div class="flex flex-row flex-wrap">
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">HTML</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">CSS</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
              <a
                href="https://sararingkow.dk/kea/06_eksamen/portfolio_eksamen/index.html"
                target="_blank"
                class="block w-full h-full"
                aria-label="View project: First portfolio-site"
              >
                <img src="/other/1st_portfolio.png" alt="Screenshot of the assignment: First portfolio-site" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-font-color">First portfolio-site</h4>
                    <p class="text-font-color">Exam-project: 1st semester</p>
                    <div class="flex flex-row flex-wrap">
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">HTML</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">CSS</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Three medium items -->

            <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
              <a href="https://t8-karrusel.netlify.app/" target="_blank" class="block w-full h-full" aria-label="View project: Karrusel Festival">
                <img src="/other/karrusel.png" alt="Screenshot of the assignment: Karrusel Festival" class="w-full h-full object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h4 class="text-2xl font-bold text-font-color">Karrusel Festival</h4>
                    <p class="text-font-color">Case project: 2nd semester</p>
                    <div class="flex flex-row flex-wrap">
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JSON</p>
                      </div>
                      <div class="pt-5 pl-2 pr-2">
                        <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="flex justify-center">
          <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
              <!-- Three medium items -->
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://itmv-t9.netlify.app/" target="_blank" aria-label="View project: I Tråd Med Verden">
                  <img src="/other/itmv.png" alt="Screenshot of the assignment: I Tråd Med Verden" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">I Tråd Med Verden</h4>
                      <p class="text-font-color">Case-project: 2nd semester</p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://volander-art.netlify.app/" target="_blank" aria-label="View project: Volander Art">
                  <img src="/other/2nd_semester_exam.png" alt="Screenshot of the assignment: Volander Art" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">Volander Art</h4>
                      <p class="text-font-color">Exam-project: 2nd semester</p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JSON</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://kbh-billeder.netlify.app/" target="_blank" aria-label="View project: Københavner-billeder">
                  <img src="/other/kbh_billeder.webp" alt="Screenshot of the assignment: Københavner-billeder" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">Københavner-billeder</h4>
                      <p class="text-font-color">
                        Mini case-project: 3rd semester <br />
                      </p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Tailwind</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://sd-uperfekterperfekt.netlify.app/" target="_blank" aria-label="View project: Uperfekt er perfekt">
                  <img
                    src="/other/uperfekt.webp"
                    alt="Screenshot of the assignment: Københavner-billeder"
                    class="w-full h-48 object-cover brightness-150"
                  />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">Uperfekt er perfekt</h4>
                      <p class="text-font-color">Mini-project: 3rd semester</p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Tailwind</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="flex justify-center">
          <div class="container mx-auto px-4 py-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
              <!-- Three medium items -->

              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://singleusesucks-plasticchange.netlify.app/" target="_blank" aria-label="View project: #SingleUseSucks">
                  <img src="/other/singleusesucks.png" alt="Screenshot of the assignment: #SingleUseSucks" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">#SingleUseSucks</h4>
                      <p class="text-font-color">
                        Case-project: 3rd semester <br />
                      </p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Tailwind</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://font-access.netlify.app/" target="_blank">
                  <img src="/other/access.webp" alt="Screenshot of the assignment: ACCESS" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">ACCESS</h4>
                      <p class="text-font-color">Mini-project: 3rd semester</p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Tailwind</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://srp-portfolio.netlify.app/" target="_blank" aria-label="View project: New portfolio-site">
                  <img src="/other/new_portfolio.webp" alt="Screenshot of the assignment: New portfolio-site" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">New portfolio-site</h4>
                      <p class="text-font-color">Side-project: private work</p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Tailwind</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group border-l-4 border border-[#b0b0b0] hover:border-[#888888]">
                <a href="https://hojskolendk002.netlify.app/" target="_blank" aria-label="View project: HÖJSKOLENDK">
                  <img src="/other/hojskolendk.webp" alt="Screenshot of the assignment: HÖJSKOLENDK" class="w-full h-48 object-cover" />
                  <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="absolute bottom-0 left-0 right-0 p-4">
                      <h4 class="text-2xl font-bold text-font-color">HÖJSKOLENDK</h4>
                      <p class="text-font-color">Case-project: 3rd semester</p>
                      <div class="flex flex-row flex-wrap">
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Astro</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">Tailwind</p>
                        </div>
                        <div class="pt-5 pl-2 pr-2">
                          <p class="rounded-full px-4 p-2 font-semibold shadow-md uppercase bg-hover-header text-font-color text-xs">JS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact-header" class="pt-12 md:pt-24 flex flex-col items-center mx-auto justify-center px-6 text-font-color z-[1]">
    <h1 class="text-4xl md:text-5xl font-bold text-left pb-[30px] md:pt-[16px] pt-[20px] uppercase">Let's get in touch!</h1>
  </div>
  <div id="phone_mail" class="forms_container flex justify-center pt-8 md:pt-28">
    <section class="max-w-5xl mx-auto px-6">
      <div class="flex flex-col md:flex-row md:items-start items-start">
        <!-- Profile Picture -->
        <img
          class="w-[150px] h-[150px] md:w-[250px] md:h-[250px] object-cover rounded-full shadow-xl mb-8 md:mb-0 brightness-[108%] contrast-[85%]"
          src="/other/pfp.webp"
          alt="A portrait of Sara"
        />

        <!-- Contact Info & Social Media -->
        <div class="md:ml-10 flex flex-col md:text-left">
          <!-- Contact Information -->
          <div class="mb-8">
            <h2 class="text-font-color font-bold md:text-3xl text-2xl pb-4 uppercase">Contact-information</h2>
            <p class="some1 text-font-color">
              <b>Phone: </b><a
                href="tel:+4542428807"
                aria-label="Call Sara on +45 42 42 88 07"
                class="hover:text-hover-header transition duration-500 focus:outline-none focus:ring-2 focus:ring-red-400">+45 42 42 88 07</a
              >
            </p>
            <p class="some1 text-font-color">
              <b>Mail: </b><a
                href="mailto:sara.ringkow@gmail.com"
                aria-label="Send an email to sara.ringkow@gmail.com"
                class="hover:text-hover-header transition duration-300 focus:outline-none focus:ring-2 focus:ring-red-400">sara.ringkow@gmail.com</a
              >
            </p>
          </div>
          <hr class="border-[0.5px] border-font-color mb-8 md:w-[250px] w-full" style="text-shadow: 1px 2px 4px rgba(15, 23, 42, 1);" />

          <!-- Social Media Section -->
          <div id="contact">
            <div class="flex gap-3 justify-start">
              <a
                class="group relative w-[40px] h-[40px] sm:w-[50px] sm:h-[50px] transition-transform duration-300 transform hover:scale-105 drop-shadow-md"
                href="https://www.facebook.com/profile.php?id=61558070190613"
                aria-label="View Sara's Facebook-profile"
                target="_blank"
              >
                <img
                  src="/illustrations/facebook2.svg"
                  alt="facebook"
                  class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
                />
                <img
                  src="/illustrations/facebook2_red.svg"
                  alt="facebook"
                  class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
                />
              </a>
              <a
                class="mr-3 group relative w-[40px] h-[40px] sm:w-[50px] sm:h-[50px] transition-transform duration-300 transform hover:scale-105 drop-shadow-md"
                href="https://www.instagram.com/srp_portfolio/"
                aria-label="View Sara's Instagram-profile"
                target="_blank"
              >
                <img
                  src="/illustrations/instagram2.svg"
                  alt="instagram"
                  class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
                />
                <img
                  src="/illustrations/instagram2_red.svg"
                  alt="instagram"
                  class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
                />
              </a>
              <a
                class="group relative w-[40px] h-[40px] sm:w-[50px] sm:h-[50px] transition-transform duration-300 transform hover:scale-105 drop-shadow-md"
                href="https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/"
                aria-label="View Sara's LinkedIn-profile"
                target="_blank"
              >
                <img
                  src="/illustrations/linkedin2.svg"
                  alt="linkedin"
                  class="absolute inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
                />
                <img
                  src="/illustrations/linkedin2_red.svg"
                  alt="linkedin"
                  class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="cv" class="flex flex-col items-center pb-20 md:pb-24 pt-20">
    <h2 class="md:text-3xl text-2xl text-center pt-8 md:pt-12 md:pb-8 pb-4 text-font-color uppercase">
      Wanna <br class="md:hidden block" /> more about me?
    </h2>
    <Button
      aria-label="Check out my resume"
      class="focus:outline-none focus:ring-2 focus:ring-red-400 text-center transition duration-300 transform hover:scale-105 uppercase"
      >Check out my resume here</Button
    >
  </div>

  <script>
    import { inView, animate } from "motion";

    // inView animations
    const elementmedanimation1 = document.querySelector("#h1");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation2 = document.querySelector("#h2");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
    });

    const elementmedanimation3 = document.querySelector("#info");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation4 = document.querySelector("#pfp");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation5 = document.querySelector("#timeline");
    inView(elementmedanimation5, () => {
      elementmedanimation5.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation6 = document.querySelector("#contact");
    inView(elementmedanimation6, () => {
      elementmedanimation6.classList.add("animate__animated", "animate__fadeInRight");
    });

    // New animations for missing elements
    const elementmedanimation7 = document.querySelector("#skills");
    inView(elementmedanimation7, () => {
      elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation8 = document.querySelector("#projects");
    inView(elementmedanimation8, () => {
      elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation9 = document.querySelector("#contact-header");
    inView(elementmedanimation9, () => {
      elementmedanimation9.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation10 = document.querySelector("#cv");
    inView(elementmedanimation10, () => {
      elementmedanimation10.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation11 = document.querySelector("#phone_mail");
    inView(elementmedanimation11, () => {
      elementmedanimation11.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation12 = document.querySelector("#contact");
    inView(elementmedanimation12, () => {
      elementmedanimation12.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation13 = document.querySelector("#hobbies");
    inView(elementmedanimation13, () => {
      elementmedanimation13.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation14 = document.querySelector("#languages");
    inView(elementmedanimation14, () => {
      elementmedanimation14.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation15 = document.querySelector(".ornament");
    inView(elementmedanimation15, () => {
      elementmedanimation15.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation16 = document.querySelector(".ornament2");
    inView(elementmedanimation16, () => {
      elementmedanimation16.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation17 = document.querySelector(".ornament3");
    inView(elementmedanimation17, () => {
      elementmedanimation17.classList.add("animate__animated", "animate__fadeInLeft");
    });
  </script>

  <style>
    .hidden {
      opacity: 0;
    }

    .language-card::before,
    .hobby-card::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.7; /* Apply opacity to the background only */
      border-radius: inherit; /* Ensures border-radius is applied to the background as well */
    }
  </style>
</MainLayout>
