---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout title="Personal professional profile – Sara Ringkow Petersen">
  <div class="background-lines">
    <div class="line1"></div>
    <div class="line2"></div>
  </div>
  <div class="top-content text-font-color max-w-7xl mx-auto pb-80 pt-80 md:pb-80 md:pt-80">
    <h1 id="h1" class="title text-5xl md:text-8xl text-center md:text-left pb-12">SARA RINGKOW PETERSEN</h1>
    <h2 id="h2" class="subtitle text-3xl md:text-5xl text-center md:text-left tracking-wide">Multimedia-design student <br /> & web designer</h2>
  </div>
  <div class="main-content1 max-w-7xl mx-8 md:max-w-6xl md:mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 pb-20 md:pb-40">
    <div id="info" class="left-content text-font-color">
      <h3 class="h3-header text-2xl md:text-3xl pb-4">WHO AM I?</h3>
      <p class="text-sm md:text-lg md:leading-9">
        The name’s Sara Ringkow Petersen. I’m 22 years old, and come from Copenhagen, Denmark. I live at home together with my parents, little-sister
        and our dog. I’m late-diagosed with Autism, and have had the diagnosis for almost 2 years. <br /><br /> In my spare time, I love reading crime
        and fantasy books and enjoy PC and console games, especially Nintendo and Super Mario. I’m also really creative, and love doing stuff like drawing,
        keyring-braiding and bead-art. <br /><br /> My main goal is to help companies improve their digital platforms to make them more accessible for
        people with different kinds of difficulties. On a competence-basis, I have experience with HTML, CSS, JavaScript, and also frameworks like Astro
        and Tailwind. I'm also familiar with project management tools like SCRUM and Trello, as well as design tools like Figma.
      </p>
    </div>
    <div id="pfp" class="right-content flex justify-center md:justify-center">
      <img src="/other/pfp.jpg" alt="me" class="w-[300px] h-[300px] md:w-[350px] md:h-[350px] object-cover rounded-md" />
    </div>
  </div>
  <div class="background-bubbles">
    <div class="bubbles1"></div>
  </div>
  <div id="timeline" class="timeline max-w-7xl mx-auto flex justify-center md:justify-center md:mx-10 pb-28">
    <div class="left-content text-font-color">
      <h3 class="h3-header text-3xl text-left ml-4 pb-10 md:ml-0 md:pb-8">TIMELINE</h3>

      <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-200 hidden md:block"
          >
          </div>
          <time class="mb-1 text-2xl font-bold leading-none text-gray-200 md:text-2xl">August 2019 - June 2021</time>
          <h4 class="timeline-title text-lg font-regular text-gray-900 dark:text-white md:text-xl">HF at Egedal Gymnasium & HF</h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-300 hidden md:block"
          >
          </div>
          <time class="mb-1 text-2xl font-bold leading-none text-gray-300 md:text-2xl">January 2022 - June 2022 (gap-year)</time>
          <h4 class="timeline-title text-lg font-regular text-gray-900 dark:text-white md:text-xl">
            Folk high school stay at Bosei Sports Folk High School
          </h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-400 hidden md:block"
          >
          </div>
          <time class="mb-1 text-2xl font-bold leading-none text-gray-400 md:text-2xl">August 2022 - May 2023</time>
          <h4 class="timeline-title text-lg font-regular text-gray-900 dark:text-white md:text-xl">
            Singular courses in Japanese (lvl. 0-B) at Frederiksberg VUC & STX
          </h4>
        </li>
        <li class="mb-16 ms-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-500 hidden md:block"
          >
          </div>
          <time class="mb-1 text-2xl font-bold leading-none text-gray-500 md:text-2xl">August 2023 - present</time>
          <h4 class="timeline-title text-lg font-regular text-gray-900 dark:text-white md:text-1xl">
            Multimedia-design student at KEA - Københavns Erhvervsakademi (3rd semester, 2nd year)
          </h4>
        </li>
      </ol>
    </div>
  </div>
  <div class="background-bubbles">
    <div class="bubbles1"></div>
  </div>
  <div id="skills" class="skills max-w-7xl mx-auto flex justify-center md:justify-center pb-40 md:pb-20">
    <div class="icon-container">
      <div class="left-content text-font-color">
        <h3 class="h3-header text-3xl text-center">SKILLS</h3>
      </div>
      <!-- some_icons1 -->
      <div class="app_icons1 flex flex-wrap justify-center gap-6 md:gap-20 mb-8">
        <div class="icon-wrapper top-tooltip">
          <!-- Add a class to control the tooltip position -->
          <img
            id="figma"
            class="max-w-full rounded-lg w-[50px] h-[50px] sm:w-[80px] sm:h-[80px] hover:transition duration-300 hover:opacity-70 cursor-pointer"
            src="/other/46a76c802176eb17b04e12108de7e7e0f3736dc6-1024x1024.webp"
            alt="figma"
          />
          <div class="tooltip hidden md:block">
            <ol>
              <li>1. Styles & components</li>
              <li>2. Auto-layout</li>
              <li>3. Design-systems</li>
              <li>4. Wireframes & prototypes</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper top-tooltip">
          <!-- Add a class to control the tooltip position -->
          <img
            id="vscode"
            class="max-w-full rounded-lg w-[50px] h-[50px] sm:w-[80px] sm:h-[80px] hover:transition duration-300 hover:opacity-70 cursor-pointer"
            src="/other/images.png"
            alt="vs code"
          />
          <div class="tooltip hidden md:block">
            <ol>
              <li>1. HTML</li>
              <li>2. CSS</li>
              <li>3. JavaScript</li>
              <li>4. Astro</li>
              <li>5. Tailwind</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper top-tooltip">
          <!-- Add a class to control the tooltip position -->
          <img
            id="microsoft"
            class="max-w-full rounded-lg w-[50px] h-[50px] sm:w-[80px] sm:h-[80px] hover:transition duration-300 hover:opacity-70 cursor-pointer"
            src="/other/Microsoft_365_(2022).svg.png"
            alt="microsoft 365"
          />
          <div class="tooltip hidden md:block">
            <ol>
              <li>1. Word</li>
              <li>2. Powerpoint</li>
              <li>3. Teams</li>
              <li>4. Outlook</li>
              <li>5. OneDrive</li>
            </ol>
          </div>
        </div>
      </div>

      <!-- some_icons2 -->
      <div class="app_icons2 flex flex-wrap justify-center gap-6 md:gap-20">
        <div class="icon-wrapper">
          <img
            id="creativecloud"
            class="max-w-full rounded-lg w-[50px] h-[50px] sm:w-[80px] sm:h-[80px] hover:transition duration-300 hover:opacity-70 cursor-pointer"
            src="/other/Adobe_Creative_Cloud_rainbow_icon.svg.png"
            alt="creative cloud"
          />
          <div class="tooltip hidden md:block">
            <ol>
              <li>1. Adobe Illustrator</li>
              <li>2. Adobe Premiere Pro</li>
              <li>3. Adobe Firefly</li>
            </ol>
          </div>
        </div>
        <div class="icon-wrapper">
          <img
            id="google"
            class="max-w-full rounded-lg w-[50px] h-[50px] sm:w-[80px] sm:h-[80px] hover:transition duration-300 hover:opacity-70 cursor-pointer"
            src="/other/Google_Drive_Logo_512px.png"
            alt="google drive"
          />
          <div class="tooltip hidden md:block">
            <ol>
              <li>1. Docs</li>
              <li>2. Slides</li>
              <li>3. Forms</li>
              <li>4. Sharing and collabs</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="projects">
        <div>
          <div class="container mx-auto px-4 py-8">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
              <!-- Large item -->
              <div class="md:col-span-2 md:row-span-2 relative overflow-hidden rounded-2xl shadow-lg group">
                <img src="/other/entrance_exam.png" alt="Nature" class="w-full h-full object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h3 class="text-2xl font-bold text-white">Entrance-exam</h3>
                    <p class="text-white">Discover the beauty of the natural world</p>
                  </div>
                </div>
              </div>

              <!-- Two small items -->
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <img src="/other/mak.png" alt="Food" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h3 class="text-2xl font-bold text-white">The MAK committee (NGO)</h3>
                    <p class="text-white">Case-assignment: 1st semester</p>
                  </div>
                </div>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <img src="/other/1st_portfolio.png" alt="Technology" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h3 class="text-2xl font-bold text-white">First portfolio-site</h3>
                    <p class="text-white">Exam-assignment: 1st semester</p>
                  </div>
                </div>
              </div>

              <!-- Three medium items -->
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <img src="/other/2nd_semester_exam.png" alt="Travel" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h3 class="text-2xl font-bold text-white">Volander Art</h3>
                    <p class="text-white">Exam-assignment: 2nd semester</p>
                  </div>
                </div>
              </div>
              <div class="relative overflow-hidden rounded-2xl shadow-lg group">
                <img src="public/other/digital_cleanup_day.png" alt="Art" class="w-full h-48 object-cover" />
                <div class="absolute inset-0 bg-black bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="absolute bottom-0 left-0 right-0 p-4">
                    <h3 class="text-2xl font-bold text-white">Digital Cleanup Day 2025</h3>
                    <p class="text-white">Case-assignment 1: 3rd semester</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      import { inView } from "motion";

      const elementmedanimation1 = document.querySelector("#h1");

      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#h2");

      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector("#info");

      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation4 = document.querySelector("#pfp");

      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation5 = document.querySelector("#timeline");

      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
      });
    </script>
  </div>
</MainLayout>
