---

---

<a
  href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:3fb15420-6acd-4cc6-b38b-11478bb6eef8"
  target="_blank"
  class="cursor-none relative z-[1] text-font-color bg-hover-header font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2 overflow-hidden group hover:shadow-lg hover:shadow-hover-header hover:bg-red-700"
>
  <span class="relative z-[1] inline-flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13"
      ></path>
    </svg>
    <slot />
  </span>
  <span
    class="absolute inset-0 bg-gradient-to-r from-red-700 to-red-900 transition-all duration-500 ease-in-out translate-x-full group-hover:translate-x-0"
  ></span>
</a>
