---

---

<footer class="flex flex-col space-y-10 justify-center p-10 backdrop-blur-md">
  <p class="text-center text-font-color_dark font-medium">&copy; 2024 Sara Ringkow Petersen – SRP Portfolio. All rights reserved.</p>
</footer>
