---

---

<footer class="flex flex-col space-y-10 justify-center m-10 backdrop-blur-md">
  <div class="flex justify-center space-x-5">
    <a href="https://www.facebook.com/profile.php?id=61558070190613" target="_blank">
      <img src="/illustrations/facebook-svgrepo-com(1).svg" alt="facebook" class="w-8" />
    </a>
    <a href="https://www.instagram.com/srp_portfolio/" target="_blank">
      <img src="/illustrations/instagram-svgrepo-com.svg" alt="instagram" class="w-8" />
    </a>
    <a href="https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/" target="_blank">
      <img src="/illustrations/linkedin-svgrepo-com.svg" alt="linkedin" class="w-8" />
    </a>

    <a href="https://dk.pinterest.com/sararingkow/" target="_blank">
      <img src="/illustrations/pinterest-180-svgrepo-com.svg" alt="pinterest" class="w-8" />
    </a>
  </div>
  <p class="text-center text-font-color_dark font-medium">&copy; 2024 Sara Ringkow Petersen – SRP Portfolio. All rights reserved.</p>
</footer>
