---

---

<header class="text-font-color fixed top-0 left-0 w-full z-50 backdrop-blur-md">
  <div x-data="{ showmenu: false }" class="p-6">
    <div id="navbar" class="flex flex-row justify-between">
      <div id="logo" class="font-bold hover:opacity-30 transition duration-300">
        <a href="#top"><img src="/illustrations/logo.svg" alt="logo" class="cursor-none w-20 md:w-20" /> </a>
      </div>
      <div id="desktopmenu" class="hidden lg:block text-sm font-medium text-center text-gray-500 border-b border-font-color dark:text-font-color">
        <ul class="flex flex-wrap -mb-px">
          <li class="me-2">
            <a
              href="#info"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header transition duration-300 cursor-none"
              >WHO AM I?</a
            >
          </li>
          <li class="me-2">
            <a
              href="#timeline"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300 cursor-none"
              aria-current="page">TIMELINE</a
            >
          </li>
          <li class="me-2">
            <a
              href="#skills"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300 cursor-none"
              >SKILLS</a
            >
          </li>
          <li class="me-2">
            <a
              href="#projects"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300 cursor-none"
              >MY PROJECTS</a
            >
          </li>
          <li>
            <a
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300 cursor-none"
              href="#contact">CONTACT</a
            >
          </li>
        </ul>
      </div>
      <button id="burgermenu" class="lg:hidden cursor-none" x-on:click="showmenu = ! showmenu"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 hover:text-hover-header transition duration-30"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <nav
      id="mobilmenu"
      class="flex flex-col content-center pt-4"
      x-show="showmenu"
      x-transition=""
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
      style="display: none;"
    >
      <ul>
        <li class="text-center py-3 border-b-[1px] hover:text-hover-header active:text-hover-header active:underline transition duration-30">
          <a class="cursor-none" href="#info">WHO AM I?</a>
        </li>
        <li class="text-center py-3 border-b-[1px] hover:text-hover-header active:text-hover-header active:underline transition duration-300">
          <a class="cursor-none" href="#timeline">TIMELINE</a>
        </li>
        <li class="text-center py-3 border-b-[1px] hover:text-hover-header active:text-hover-header active:underline transition duration-300">
          <a class="cursor-none" href="#skills">SKILLS</a>
        </li>
        <li class="text-center py-3 border-b-[1px] hover:text-hover-header active:text-hover-header active:underline transition duration-300">
          <a class="cursor-none" href="#projects">MY PROJECTS</a>
        </li>
        <li class="text-center py-3 border-b-[1px] hover:text-hover-header active:text-hover-header active:underline transition duration-300">
          <a class="cursor-none" href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
