---

---

<header class="text-font-color fixed top-0 left-0 w-full z-50 backdrop-blur-md">
  <div x-data="{ showmenu: false }" class="p-6">
    <div id="navbar" class="flex flex-row justify-between">
      <div id="logo" class="font-bold hover:opacity-30 transition duration-300">
        <a href="#top"><img src="/illustrations/logo.svg" alt="logo" class="w-28 md:w-32" /> </a>
      </div>
      <div
        id="desktopmenu"
        class="hidden lg:block text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-font-color dark:border-bg-color_dark"
      >
        <ul class="flex flex-wrap -mb-px">
          <li class="me-2">
            <a
              href="#top"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header font-bold transition duration-300"
              >TOP</a
            >
          </li>
          <li class="me-2">
            <a
              href="#info"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header transition duration-300"
              >WHO AM I?</a
            >
          </li>
          <li class="me-2">
            <a
              href="#"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300"
              aria-current="page">TIMELINE</a
            >
          </li>
          <li class="me-2">
            <a
              href="#"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300"
              >SKILLS</a
            >
          </li>
          <li class="me-2">
            <a
              href="#"
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300"
              >MY PROJECTS</a
            >
          </li>
          <li>
            <a
              class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-hover-header hover:border-hover-header dark:hover:border-hover-header transition duration-300"
              href="#">CONTACT</a
            >
          </li>
        </ul>
      </div>
      <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
        ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <nav
      id="mobilmenu"
      class="flex flex-col content-center pt-4"
      x-show="showmenu"
      x-transition=""
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
      style="display: none;"
    >
      <ul>
        <li class="text-center py-3 border-b-[1px] hover:text-gray-400 active:text-gray-500 active:underline"><a href="#link1">WHO AM I?</a></li>
        <li class="text-center py-3 border-b-[1px] hover:text-gray-400 active:text-gray-500 active:underline"><a href="#link2">TIMELINE</a></li>
        <li class="text-center py-3 border-b-[1px] hover:text-gray-400 active:text-gray-500 active:underline"><a href="#link3">SKILLS</a></li>
        <li class="text-center py-3 border-b-[1px] hover:text-gray-400 active:text-gray-500 active:underline"><a href="#link4">MY PROJECTS</a></li>
        <li class="text-center py-3 border-b-[1px] hover:text-gray-400 active:text-gray-500 active:underline"><a href="#link5">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
