---

---

<button id="scrollToTopBtn" title="Go to top"
  ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
  </svg>
</button>

<style>
  #scrollToTopBtn {
    background-color: #d32f2f;
    font-family: "Almarai", sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: #f9f9f9;
    outline: none;
    cursor: pointer;
    padding: 15px 15px;
    border-radius: 250px;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  #scrollToTopBtn:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    background-color: #bc2121;
    color: #f9f9f9;
    cursor: none;
  }
</style>

<script>
  document.getElementById("scrollToTopBtn").addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
